/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */


/* ------------------------------------------
/* Typographie generale (style transversaux)
/* ------------------------------------------ */


/* Autres enrichissements typo */
strong { font-weight: bold; }
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Listes */
ul.spip {} /* Cf.: spip_style.css */
ol.spip {} /* Cf.: spip_style.css */
dl {}
dt {}
dd {}

/* Citations, code et poesie */
cite {}
q {}
blockquote {}
blockquote.spip {} /* Cf.: spip_style.css */
blockquote.spip_poesie {} /* Cf.: spip_style.css */
.spip_code {} /* Cf.: spip_style.css */
.spip_cadre {} /* Cf.: spip_style.css */
address {}

/* Tableaux */
table.spip {} /* Cf.: spip_style.css */
thead {background-color:#D1D1D1;}

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0; }
.spip_logos {float:left; margin: 9px 9px 2px 0; font-size:10px} /* Cf.: spip_style.css */
.item_production .spip_logos{margin: 0 9px 2px 0;}

.mot260 .spip_documents {text-align:left;
} /* Cf.: spip_style.css */
.spip_documents_center {} /* Cf.: spip_style.css */
.spip_documents_left {} /* Cf.: spip_style.css */
.spip_documents_right {} /* Cf.: spip_style.css */
.spip_doc_titre {} /* Cf.: spip_style.css */
.spip_doc_descriptif {} /* Cf.: spip_style.css */


/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }




/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */


.hyperlien { display: block; background: #EEE; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }

abbr.published { border: 0; }

.home {float:left; width:45%; margin: 0 25px 0 0;height:300px;}

#event h2 {background:#8B6F92;margin-bottom:10px;clear:both;padding:5px;}

.cours{width:33%;float:left;height:200px;}
.ev_corp{width:45%; float:left;clear:both;margin-bottom:30px;}
.inscription{width:45%; float:left;}
.inscription ul {list-style:none;}
.page_article .ev_corp{width:80%;margin-bottom:20px;}
.concerts .ev_corp, .agenda .ev_corp {width:100%;margin-bottom:20px;}

.concerts .inscription, .agenda .inscription, .page_article .inscription{width:15%;}
.concerts span{margin-right:5px;}
span.titre {	margin-left:20px;}

.cadre-r{display:none;}

.photos {float: left;	margin:5px;}

.id_mot264 .photos {float:none;}

.portfolio{width:120px;}

.portfolio b{text-align:left;}

.press { width:100%;text-align:center;}

.press .spip_logos {float:none;}

.press div {clear:both;}

.media {width:200px; margin:15px;}

.id_mot264 .media {width:auto; margin:15px;text-align:center;}

.agenda span.rub8,.agenda span.rub26,.agenda span.rub39,.legende_mp{	background-color:#ff8585;}

.agenda span.rub1,.agenda span.rub27,.agenda span.rub40,.legende_cours{	background-color:#99cdff;}

.agenda span.rub17,.agenda span.rub24,.agenda span.rub37,.legende_ev {	background-color:#81ff63;}

.agenda span.mot252,.legende_prod_252 {	background-color:#f1f17d;}

.agenda span.mot253,.legende_prod_253 {	background-color:#ffd17a;}

.upload{float: right; width:250px;}

.minuscule {text-transform: lowercase;}

.production{float:left; width:70px; margin:10px;text-align:center;}

.menu_production li {background-color:#FFFFFF;padding:2px;}

.menu_production li.on  {background-color:#80498E;}

.menu_production li.on a {color:#FFFFFF;}

.menu_production{margin :5px 0;}

.menu_production {color:#FFFFFF;}

.production_rubrique {padding:7px 0;background-image:url("img/bg_hr.gif");
background-position:center bottom;
background-repeat:repeat-x;}

.production_rubrique  h2 {
color:#505155;
font-size:150%;
font-weight:bold;
margin:0;
}

.production .spip_logos{float:none;margin:0;text-align:center;}

.plat ul li {display:inline;}

.liste ul {	list-style:none;}

.inscription_benevole{	float: right;}


.cell {
	vertical-align:top;border-top: 1px solid #CCCCCC;
}


.musiciens {
	clear:right;
	float:right; 
	width:200px;
	border: 2px dotted  #a020f0; 
	padding:10px; 
	margin:10px;	 
}

.paiement {margin:10px 0;border: 2px groove  #a020f0; width:200px; padding:10px;}

.paiement div{	margin-bottom:5px;}

.form_sel{float:left; margin-bottom:10px;}

#table_selection{border: 1px groove  #a020f0; overflow:visible; width:auto;}

.form {border: 1px solid  #a020f0;}

.quick_actions {
	float:right;
	 width:150px;
	
}


.menu_ev{float:right;

	
}
		

/* Portfolio */
#documents_portfolio { margin: 2em auto; text-align: left; }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
#documents_portfolio a.on .spip_logos { border-color: #F57900; }
#documents_portfolio a:focus .spip_logos,
#documents_portfolio a:hover .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img {}


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 2.50em; text-align: right; font-weight: bold; }

/* Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #A48F2B; margin: 0; padding: 3px 6px 2px 6px; background: #A48F2B; }
.Comment ul .forum-chapo a {color:#FFFFFF;}



/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */



/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* Rubriques */
.rubriques ul { border: 0; }
.rubriques ul li { background: #EEE; border: 0; }

.formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/

/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.30em 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; line-height: 1.40em; }


/* Couleurs des liens
---------------------------------------------- */
a { color: #521000; text-decoration: none; }
a:focus,a:hover,a:active { color: #521000; text-decoration: underline; }


.spip_form_erreur, .erreur_message{color:#E65E10;}

/* Radio*/

.radio .liste a {
	color:#FFFFFF;
	font-size: 0.7em;}
	
	
.radio ul.liste {margin-bottom:10px;background-color: #3a2a45;
	}
	
.radio ul.liste li{
    border-bottom: 1px solid #180A1F;
    border-top: 1px solid #554461;
    overflow: hidden;
    padding: 2px 0;
    position: relative;}
    	
.radio ul.liste li.active{
    background-color: #26102E;
    border-bottom: 1px solid #26102E;
    border-top: 1px solid #26102E;
    margin: 0 -20px;
    padding: 2px 20px;}
    
.radio ul.liste li.active a{
 color: #E892E9;}    

.radio .liste h2{margin:0;
 font-size:0.8em}
  

.jp-audio {text-align:left;
}

.Podium #spiplistes-formabo{width:90%;}

.List .Newsletter h3 {color: #990000;  }

.spip_logos, .ChapeauImg{position:relative;}

.spip_logos .icone, .ChapeauImg .icone{
	position:absolute;
	left:5px;
	bottom:5px;
	z-index:100;
	}

.legende{
	font-size:12px;
	color:#000000;
	padding:2px;
	opacity:0.5;}
a div.legende  {
	font-size:75%;
	color:#000000;
	}	
.legende:hover{
	opacity:1;
}
.jp-audio .socialtags {float:right;}
